@model IEnumerable<THe_BOok_MArket.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout12.cshtml";
}
<body>


    <!--Page Header Title-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Search Employee</h2>
        </div>
    </header>
    <!--Page Breadcrumb for Active Page navigation-->
    <div class="breadcrumb-holder container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Views/Home/Index.cshtml">Home</a></li>
            <li class="breadcrumb-item active">Search for Employee</li>
        </ul>
    </div>

    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-13">
                    <div class="card">

                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Employee List</h3>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                @using (Html.BeginForm("Index", "Help", FormMethod.Post))@*COPY THIS ONTO EVERY PAGE TO ADD A HELP LINK*@
                                {
                                    <p>
                                        <input type="hidden" name="action" value="searchSearchEmployee" />  <!--EDIT THIS LINE value="desiredAction"-->
                                        <button type="submit" style="background:none;border:none;text-decoration:none;cursor:pointer;color:#7985d4">help</button>
                                    </p>
                                }                                                       @*COPY THIS ONTO EVERY PAGE TO ADD A HELP LINK*@

                                <table class="table">

                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Surname
                                        </th>
                                        <th>
                                            Physical Address
                                        </th>
                                        <th>
                                            Phone No.
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            ID Number
                                        </th>


                                        <th>
                                            Title
                                        </th>

                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Employee_Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Employee_Surname)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Employee_Address)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Emp_Phone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Emp_Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ID_Number)
                                            </td>
                                            @*<td>
                        @Html.DisplayFor(modelItem => item.ImageData)
                    </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Employee_Gender.Gender_Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Employee_Title.Title_Description)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Employee_ID }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.Employee_ID }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Employee_ID })
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>