@model THe_BOok_MArket.Models.Purchase

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layoutfluid.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Purchase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Purchase_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purchase_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book_Supplier.BookSupplier_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_Supplier.BookSupplier_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Purchase_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
