@model IEnumerable<THe_BOok_MArket.Models.Purchase>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutfluid.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Purchase_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purchase_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book_Supplier.BookSupplier_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Purchase_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purchase_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book_Supplier.BookSupplier_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Purchase_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Purchase_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Purchase_ID })
        </td>
    </tr>
}

</table>
