
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Book Market</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href=@Url.Content("~/vendor/bootstrap/css/bootstrap.min.css")>
    @RenderSection("vendors", false)
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href=@Url.Content("~/vendor/font-awesome/css/font-awesome.min.css")>
    @RenderSection("Styles", false)
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href=@Url.Content("~/css/fontastic.css")>
    @RenderSection("Styles", false)
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href=@Url.Content("~/css/style.default.css") id="theme-stylesheet">
    @RenderSection("Styles", false)
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href=@Url.Content("~/css/custom.css")>
    @RenderSection("Styles", false)
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/favicon.ico">
    

</head>
<body>
    <div class="page">

        <!-- Main Navbar-->
        <header class="header">
            <nav class="navbar">

            
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand --><a href="index.html" class="navbar-brand d-none d-sm-inline-block">
                                <div class="brand-text d-none d-lg-inline-block"><span>The </span><strong>Bookmarket</strong></div>
                                <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div>
                            </a>
                            <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            <!-- Search-->
                            <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>
                                                        
                            <!-- Logout    -->
                            <li class="nav-item"><a href="login.html" class="nav-link logout"> <span class="d-none d-sm-inline">Logout</span><i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>


        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center">
                    <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                    <div class="title"> 
                        <h1 class="h4"> UserName</h1>
                        <p>Employee Type</p>
                    </div>
                </div>
                <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
                <ul class="list-unstyled">
                                        
                    <!-- Customer drowpdown-->
                 <li>
                      <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"><i class="icon-picture"></i>Customers </a>
                      <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                          <li><a href="#">Add Customers</a></li>
                          <li><a href="#">Maintain Customers</a></li>
                          <li><a href="#">Search Customers</a></li>
                      </ul>
                  </li>
                   <!-- Employee drowpdown-->
                  <li>
                        <a href="#employeedropdownDropdown" aria-expanded="false" data-toggle="collapse"><i class="icon-screen"></i>Employees </a>
                        <ul id="employeedropdownDropdown" class="collapse list-unstyled ">
                            <li><a href="#">Add Employee</a></li>
                            <li><a href="#">Maintain Employee</a></li>
                            <li><a href="#">Maintain User Role</a></li>
                        </ul>
                    </li>

                    <!-- Supplier drowpdown-->
                    <li>
                        <a href="#suplplierdropdownDropdown" aria-expanded="false" data-toggle="collapse"><i class="icon-flask"></i>Suppliers </a>
                        <ul id="suplplierdropdownDropdown" class="collapse list-unstyled ">
                            <li><a href="#">Add Supplier</a></li>
                            <li><a href="#">Maintain Supplier</a></li>
                            <li><a href="#">Search Supplier</a></li>
                            <li><a href="#">Place Supplier Order</a></li>
                            <li><a href="#">Search Supplier Order</a></li>
                            <li><a href="#">Cancel Supplier Order</a></li>
                            <li><a href="#">Receive Supplier Order</a></li>
                            <li><a href="#">Return Supplier Order</a></li>
                        </ul>
                    </li>

                    <!-- Sales drowpdown-->
                    <li>
                        <a href="#salesdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Sales </a>
                        <ul id="salesdropdownDropdown" class="collapse list-unstyled ">
                            <li><a href="#">Make Sale</a></li>
                            <li><a href="#">Search Sale</a></li>
                            <li><a href="#">Return Sale</a></li>
                        </ul>
                    </li>

                    <!-- Payemtn Type drowpdown-->
                    <li>
                        <a href="#ptypedropdownDropdown" aria-expanded="false" data-toggle="collapse"><i class="far fa-credit-card"></i>Payment Types </a>
                        <ul id="ptypedropdownDropdown" class="collapse list-unstyled ">
                            <li><a href="#">Add Payment Type</a></li>
                            <li><a href="#">Maintain Payment Type</a></li>
                            <li><a href="#">Search Payment Type</a></li>
                        </ul>
                    </li>

                    <!-- Prosepctive drowpdown-->
                    <li>
                        <a href="#prospectivedropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i> Prospective </a>
                        <ul id="prospectivedropdownDropdown" class="collapse list-unstyled ">
                            <li><a href="#">Add Prosepctive Books</a></li>
                            <li><a href="#">Maintain Prosepctive Books</a></li>
                            <li><a href="#">Search Prosepctive Books</a></li>
                            <li><a href="#">Process Prosepctive Books</a></li>
                        </ul>
                    </li>
                    <li><a href="login.html"> <i class="icon-interface-windows"></i>Login page </a></li>
                </ul><span class="heading">Extras</span>
                <ul class="list-unstyled">
                    <li> <a href="#"> <i class="icon-flask"></i>Demo </a></li>
                    <li> <a href="#"> <i class="icon-screen"></i>Demo </a></li>
                    <li> <a href="#"> <i class="icon-mail"></i>Demo </a></li>
                    <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li>
                </ul>
            </nav>

            <!-- The Inner page/body outside of the sidebar nav ##AtRender Body-->
            <div class="content-inner">
                @RenderBody();
            </div> 
            <br /><br /><br />

        
  </div>

</div>
    
    <!-- JavaScript files-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Main File-->
    <script src="~/js/front.js"></script>
</body>
</html>

