@model IEnumerable<THe_BOok_MArket.Models.Book_Supplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout12.cshtml";
}



<!--Page Header Title-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Search Book Supplier</h2>
    </div>
</header>

<!--Page Breadcrumb for Active Page navigation-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Views/Home/Index.cshtml">Home</a></li>
        <li class="breadcrumb-item active">Search Book Supplier</li>
    </ul>
</div>

<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">

                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Book Supplier List</h3>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">


                            <p>
                                @using (Html.BeginForm("Index", "Book_Supplier", FormMethod.Get))
                                {

                                    <b>SearchBy:</b> @Html.RadioButton("searchBy", "Name", true) <text>Name</text>
                                    @Html.RadioButton("searchBy", "Surname") <text>Surname</text>
                                    @Html.RadioButton("searchBy", "Email") <text>Email</text>
                                    <br />


                                    @Html.TextBox("search") <input type="submit" value="Search" />

                                }
                            </p>

                            <p>
                                @Html.ActionLink("Add Prospective Book?", "Index", "Prospective_Book")
                            </p>

                            <p>
                                @Html.ActionLink("Add Book Supplier", "Create")
                            </p>
                            <table class="table">
                                <tr>
                                    <th>
                                        Supplier Name
                                    </th>
                                    <th>
                                       Supplier Surname
                                    </th>
                                    <th>
                                       Email
                                    </th>
                                    <th>
                                       Address
                                    </th>
                                  
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BookSupplier_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BookSupplier_Surname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BookSupplier_Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BookSupplier_Address)
                                        </td>
                                       
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.BookSupplier_ID }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.BookSupplier_ID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.BookSupplier_ID })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>