@model THe_BOok_MArket.Models.Order_Line

@{
    Layout = "~/Views/Shared/Layout12.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Order_Line</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Quanity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Quanity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Line_Total)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Line_Total)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Inventory.Inventory_Type_ID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Inventory.Inventory_Type_ID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Inventory_Supplier_Order.InvSuppOrder_ID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Inventory_Supplier_Order.InvSuppOrder_ID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Order_Status.Order_Status_Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Order_Status.Order_Status_Description)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
