@model THe_BOok_MArket.Models.Inventory

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layout12.cshtml";
}

<!--Page Header Title-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Delete Employee</h2>
    </div>
</header>

<!--Page Breadcrumb for Active Page navigation-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Views/Home/Index.cshtml">Home</a></li>
        <li class="breadcrumb-item active">Delete Employee</li>
    </ul>
</div>

<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <div class="card">

                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Confirm Employee deletion</h3>
                    </div>

                    <div class="card-body">

                        <div>

                            <dl class="dl-horizontal">
                                <dt>
                                   Name
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Inventory_Name)
                                </dd>

                                <dt>
                                   Description
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Inventory_Description)
                                </dd>

                                <dt>
                                    Quantity
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Inventory_Quantity)
                                </dd>

                                <dt>
                                    Min Quantity
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Minimum_Quantity)
                                </dd>

                                <dt>
                                    Inventory Type
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Inventory_Type.InventoryType_Name)
                                </dd>

                                @*<dt>
                                    @Html.DisplayNameFor(model => model.Stock_Turns.Turn_Over_Ratio)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Stock_Turns.Turn_Over_Ratio)
                                </dd>*@

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Confirm Delete" class="btn btn-default" /> 
                                    
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
