@model IEnumerable<THe_BOok_MArket.Models.Inventory_Type>

@{
    ViewBag.Title = "Index";
}

<!--Page Header Title-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Search Inventory Type</h2>
    </div>
</header>
<!--Page Breadcrumb for Active Page navigation-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Views/Home/Index.cshtml">Home</a></li>
        <li class="breadcrumb-item active">Search for Inventory Type</li>
    </ul>
</div>
<p>
    @using (Html.BeginForm("Index", "Inventory_Type", FormMethod.Get))
    {
        <b>SearchBy:</b> @Html.RadioButton("searchBy", "Name", true) <text>Name</text>
        @Html.RadioButton("searchBy", "Description") <text>Description</text>
        @*@Html.RadioButton("searchBy", "Email") <text>Email</text>*@
        <br />
        @Html.TextBox("search") <input type="submit" value="Search" />
    }

</p>

<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">

                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Inventory Type List</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            @*<p>
                                    @Html.ActionLink("Create New", "Create")
                                </p>*@
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.InventoryType_Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.InventoryType_Description)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InventoryType_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InventoryType_Description)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.InventoryType_ID }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.InventoryType_ID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.InventoryType_ID })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
















@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layoutfluid.cshtml";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InventoryType_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryType_Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryType_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryType_Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.InventoryType_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.InventoryType_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.InventoryType_ID })
                </td>
            </tr>
        }

    </table>*@
