@{
    ViewBag.Title = "Index";
}


Welcome @HttpContext.Current.User.Identity.Name

@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("Logout", "UsersAuth", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
        <li>@Html.ActionLink("Forgot Password", "ForgotPassword", "UsersAuth")</li>
        <li>@Html.ActionLink("Account", "Register", "UsersAuth")</li>
        <li>@Html.ActionLink("Employee", "Index", "Employee")</li>
        <li>@Html.ActionLink("Supplier", "Index", "Inventory_Supplier")</li>
        <li>@Html.ActionLink("User Roles", "Index", "UserRole")</li>
    }



}


