@model IEnumerable<THe_BOok_MArket.Models.Inventory_Supplier_Order>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderList</title>
</head>
<body>
    <h2>All Order Information</h2>

    @Html.ActionLink("Export to Excel", "Reports", new { ReportType = "Excel" }) |
    @Html.ActionLink("Export to PDF", "Reports", new { ReportType = "PDF" }) |
    @Html.ActionLink("Export to Word", "Reports", new { ReportType = "Word" }) |
    @Html.ActionLink("Export to Image", "Reports", new { ReportType = "Image" }) |


    <br /><br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory_Supplier.InvSupp_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order_Status.Order_Status_Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventory_Supplier.InvSupp_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order_Status.Order_Status_Description)
                </td>
                
            </tr>
        }

    </table>
</body>
</html>
