@model IEnumerable<THe_BOok_MArket.Models.Order_Line>

@{
    Layout = "~/Views/Shared/Layout12.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuppOrderList</title>
</head>
<body>
    <h2>All Supplier Order Information</h2>

    @Html.ActionLink("Export to Excel", "SupReports", new { ReportType = "Excel" }) |
    @Html.ActionLink("Export to PDF", "SupReports", new { ReportType = "PDF" }) |
    @Html.ActionLink("Export to Word", "SupReports", new { ReportType = "Word" }) |
    @Html.ActionLink("Export to Image", "SupReports", new { ReportType = "Image" }) |


    <br /><br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quanity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Line_Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory.Inventory_Type_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory_Supplier_Order.InvSuppOrder_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order_Status.Order_Status_Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quanity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Line_Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventory.Inventory_Type_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventory_Supplier_Order.InvSuppOrder_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order_Status.Order_Status_Description)
                </td>
               
            </tr>
        }

    </table>
</body>
</html>
