@model IEnumerable<THe_BOok_MArket.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout12.cshtml";
}



<!--Page Header Title-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Search Book</h2>
    </div>
</header>
<!--Page Breadcrumb for Active Page navigation-->
<div class="breadcrumb-holder container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Views/Home/Index.cshtml">Home</a></li>
        <li class="breadcrumb-item active">Search for Books</li>
    </ul>
</div> 

<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">

                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Book List</h3>
                    </div>

                    <div class="card-body">
                        <p>
                            @using (Html.BeginForm("Index", "Books", FormMethod.Get))
                            {
                                <b>SearchBy:</b> @Html.RadioButton("searchBy", "BookTitle", true) <text>Book Title</text>
                                @Html.RadioButton("searchBy", "BookAuthor") <text>Book Author</text>
                                @Html.RadioButton("searchBy", "ISBN") <text>ISBN</text>
                                <br />
                                @Html.TextBox("search") <input type="submit" value="Search" />
                            }

                        </p>


                        <p>
                            @Html.ActionLink("Add Prospective Book?", "Index", "Prospective_Book")
                        </p>
                        <p>
                            @Html.ActionLink("Create New", "Create")
                        </p>
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Book_Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Book_Author)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ISBN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Book_Edition)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Book_Status.BookStatus_Description)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Book_Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Book_Author)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ISBN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Book_Edition)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Book_Status.BookStatus_Description)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Book_ID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Book_ID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Book_ID })
                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





